@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
  @apply hidden;
}

:root {
  --master-color: #0d69d5;
  --second-color: #dfb160;
  --third-color: #0c6170;
  --fourth-color: #80e958;
  --fifth-color: #4cd7d0;
  --sixth-color: #4b4584;
  --transition: 0.35s;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ebf1f4;
  -webkit-transition: background-color var(--transition);
  -o-transition: background-color var(--transition);
  transition: background-color var(--transition);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background-color: var(--third-color);
  border-radius: 1.25rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--fourth-color);
  border: 0.0625rem solid var(--second-color);
  border-radius: 1.25rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--fifth-color);
}
:focus {
  outline: none;
}

.burger-icon {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2.5rem;
  aspect-ratio: 1.1/ 1;
  z-index: 998;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.clicked.burger-icon {
  top: 90%;
  right: 3.5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.burger-icon span {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.375rem;
  background-color: white;
  border-radius: 0.375rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.burger-icon span:first-child {
  top: 0rem;
}
.burger-icon span:nth-child(2) {
  top: 1.125rem;
}
.burger-icon span:last-child {
  top: 2.25rem;
}

.clicked.burger-icon span:first-child {
  top: 1.125rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.clicked.burger-icon span:nth-child(2) {
  opacity: 0;
}
.clicked.burger-icon span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 1.125rem;
}

@media (max-width: 47.9375rem) {
  .burger-icon {
    opacity: 1;
    pointer-events: all;
  }
}

header {
  background-color: var(--third-color);
  border-bottom: 0.0625rem solid #eee;
  width: 100vw;
}

.container {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

nav a {
  position: relative;
}
nav a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1875rem;
  top: 100%;
  left: 0%;
  background-color: white;
  border-radius: 0.625rem;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
}
html.dark nav a::before {
  background-color: white;
}

nav a:hover::before {
  width: 100%;
}

@media (max-width: 47.9375rem) {
  header {
    width: 100vw;
  }
  header .container .logo {
    height: 6.25rem;
  }
  header .container .logo img {
    max-width: 3.75rem;
    max-height: 3.75rem;
    aspect-ratio: 1/ 1;
  }
  nav {
    position: fixed !important;
    top: 50%;
    left: 190%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.875rem;
    width: 100vw !important;
    height: 100vh !important;
    background-color: var(--master-color);
    z-index: 99;
    border-radius: 0.5rem;
    -webkit-transition: var(--transition) ease-out;
    -o-transition: var(--transition) ease-out;
    transition: var(--transition) ease-out;
  }

  .nav.clicked {
    position: fixed !important;
    left: -8%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  nav a {
    width: 75%;
    text-align: center;
    border: 0.0625rem solid #eee;
    border-radius: 0.5rem;
    padding: 0.3125rem;
  }
}

.container .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  transform: translateX(10px);
}

.container .language {
  cursor: pointer;
}
.container .language img {
  min-width: 100%;
  max-height: 25px;
}

.container .language > span {
  display: block;
  margin-top: 0px;
  font-size: 15px;
}

.container .theme {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.moon-icon,
.sun-icon {
  font-size: 2.5rem;
  /* border: .125rem solid #eee; */
  -webkit-transition: calc(var(--transition) * 2);
  -o-transition: calc(var(--transition) * 2);
  transition: calc(var(--transition) * 2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.moon-icon:hover,
.sun-icon:hover {
  color: var(--fourth-color);
  border-color: var(--fourth-color);
}

.content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}

.content .card {
  min-width: 12.5rem;
  min-height: 34.375rem;
  background-color: var(--third-color);
  -webkit-transition: calc(var(--transition) * 2);
  -o-transition: calc(var(--transition) * 2);
  transition: calc(var(--transition) * 2);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  counter-increment: card-number;
}

.main-heading h2 {
  min-height: 5rem;
  background-color: var(--fourth-color);
  border-radius: 0.5rem;
}

@media (max-width: 47.9375rem) {
  header {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  header > .container {
    position: absolute;
    left: -3%;
    top: 0;
    width: 76% !important;
    margin-inline: auto;
    scale: 0.9;
    justify-content: space-around;
  }
  .logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 47.9375rem) {
  body > .container {
    width: 99% !important;
    margin-inline: auto;
  }
}

.content .card .side.front {
  background-color: var(--third-color);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.evening-azkar .content .card .side.front {
  background-color: var(--master-color);
}

.salah-azkar .content .card .side.front {
  background-color: var(--sixth-color);
}

.content .card .side.front::before {
  content: counter(card-number);
  position: absolute;
  bottom: 1%;
  left: 2%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  /* background-color: #eee; */
  color: black;
  padding: 1.25rem 0.625rem;
  font-size: 2.75rem;
  z-index: 999;
  border-radius: 0.5rem;
  opacity: 0.5;
  font-weight: bolder;
}

.content .card:hover .side.front {
  /* background-color: var(--fourth-color); */
  -webkit-filter: saturate(170%);
  filter: saturate(170%);
}

.content .card .side.back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: var(--master-color);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.evening-azkar .content .card .side.back {
  background-color: var(--third-color);
}

.salah-azkar .content .card .side.back {
  background-color: var(--fourth-color);
}

.content .card .side.back .reset {
  font-size: 9.375rem;
}

.content .card .txt {
  width: 90%;
  min-height: 18.75rem;
  font-size: 1.375rem;
  padding: 1.5625rem 0;
  border-bottom: 0.0625rem solid white;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.content .card .txt span {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: block;
  color: var(--fourth-color);
  font-size: 1.5rem;
  margin-bottom: 0.3125rem;
}

.counter-circle {
  background-color: var(--fourth-color);
  color: var(--third-color);
  border: 0.0625rem solid var(--second-color);
}

.evening-azkar .counter-circle {
  background-color: var(--fifth-color);
}

.counter-circle::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: -1;
  border-radius: 50%;
  border: 0.0625rem solid var(--master-color);
}

.counter {
  position: relative;
  font-size: 2.8125rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.counter::before {
  content: attr(data-value);
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--master-color);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 5rem;
  opacity: 0.2;
}

footer {
  background-color: var(--third-color);
  border-top: 0.125rem solid white;
  overflow-x: hidden !important;
  max-width: 100vw;
}
@media (max-width: 47.9375rem) {
  footer {
    max-width: 100vw;
  }
}

.social-media {
  gap: 1.5625rem;
  scale: 1.1;
  padding: 0.9375rem 0.75rem;
}

.social-media > a {
  -webkit-transition: calc(var(--transition) * 2);
  -o-transition: calc(var(--transition) * 2);
  transition: calc(var(--transition) * 2);
  padding: 0.3125rem;
  border: 0.0625rem solid transparent;
}
.social-media > a:hover {
  border: 0.0625rem solid var(--fourth-color);
  border-radius: 50%;
}
.social-media > a path,
.social-media > a svg {
  fill: white;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.social-media > a:hover path,
.social-media > a:hover svg {
  fill: var(--fourth-color);
}

.pop-up-msg {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 34.375rem;
  height: 18.75rem;
  background-color: var(--master-color);
  -webkit-box-shadow: 0 0 0.625rem #777;
  box-shadow: 0 0 0.625rem #777;
  letter-spacing: 0.0625rem;
  top: -100%;
  -webkit-transition: calc(var(--transition) * 2.2) ease-in-out;
  -o-transition: calc(var(--transition) * 2.2) ease-in-out;
  transition: calc(var(--transition) * 2.2) ease-in-out;
  z-index: 99999;
}

.pop-up-msg .close {
  background-color: var(--fourth-color);
}

@media (max-width: 47.9375rem) {
  .pop-up-msg {
    width: 20rem !important;
    padding: 24px;
    max-width: 21.875rem;
    font-size: 1rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0;
  }
  .pop-up-msg .close {
    width: 1.5625rem;
    aspect-ratio: 1 / 1;
  }
}

.loader {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: rotate3 1s infinite;
  animation: rotate3 1s infinite;
  height: 50px;
  width: 50px;
  z-index: 99999;
}

.layer {
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--sixth-color);
  z-index: 9999;
  /* -webkit-transition: calc(var(--transition) * 2);
  -o-transition: calc(var(--transition) * 2);
  transition: calc(var(--transition) * 2); */
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  -webkit-animation: ball1 1s infinite;
  animation: ball1 1s infinite;
  background-color: #cb2025;
  -webkit-box-shadow: 30px 0 0 #f8b334;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

.loader:after {
  -webkit-animation: ball2 1s infinite;
  animation: ball2 1s infinite;
  background-color: #00a096;
  -webkit-box-shadow: 30px 0 0 #97bf0d;
  box-shadow: 30px 0 0 #97bf0d;
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }

  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes rotate3 {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }

  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@-webkit-keyframes ball1 {
  0% {
    -webkit-box-shadow: 30px 0 0 #f8b334;
    box-shadow: 30px 0 0 #f8b334;
  }

  50% {
    -webkit-box-shadow: 0 0 0 #f8b334;
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    -webkit-box-shadow: 30px 0 0 #f8b334;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball1 {
  0% {
    -webkit-box-shadow: 30px 0 0 #f8b334;
    box-shadow: 30px 0 0 #f8b334;
  }

  50% {
    -webkit-box-shadow: 0 0 0 #f8b334;
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    -webkit-box-shadow: 30px 0 0 #f8b334;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@-webkit-keyframes ball2 {
  0% {
    -webkit-box-shadow: 30px 0 0 #97bf0d;
    box-shadow: 30px 0 0 #97bf0d;
  }

  50% {
    -webkit-box-shadow: 0 0 0 #97bf0d;
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    -webkit-box-shadow: 30px 0 0 #97bf0d;
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

@keyframes ball2 {
  0% {
    -webkit-box-shadow: 30px 0 0 #97bf0d;
    box-shadow: 30px 0 0 #97bf0d;
  }

  50% {
    -webkit-box-shadow: 0 0 0 #97bf0d;
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }

  100% {
    -webkit-box-shadow: 30px 0 0 #97bf0d;
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotateY(calc(3 * 180deg));
    transform: rotateY(calc(3 * 180deg));
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotateY(calc(3 * 180deg));
    transform: rotateY(calc(3 * 180deg));
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateY(calc(180deg));
    transform: rotateY(calc(180deg));
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotateY(calc(180deg));
    transform: rotateY(calc(180deg));
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
